:root {
    --gray2: #1E1E1E;
    --accents: #00B2FF;
    --background: #404040;
    --glow: #24FF00;
    --clear: #00000000;
    --hdrBtnTxt: 25px;
    --hdrNameTxt: 35px;
}

.labeledInput {
    position: relative;
    height: min-content;
    width: 95%;
    left: 1.5%;
    display: flex;
    gap: 2px;
    flex-direction: column;
}

.labeledInput-label {
    position: relative;
    color: white;
    font-size: 25px;
}

.labeledInput-input {
    position: relative;
    background-color: black;
    color: white;
    height: min-content;
    font-size: 20px;
    border-radius: 10px;
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 2px solid #00000000;
    cursor: text;
    transition: all .2s ease-in-out;
}

.labeledInput-input:hover,
.labeledInput-input:focus {
    box-shadow: 0px 0px 10px var(--glow);
    color: var(--glow);
}

.labeledInput-label-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.labeledInput-label {
    position: relative;
    width: 80%;
}

.forgotPassword {
    font-size: 15px;
    color: var(--accents);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.forgotPassword:hover {
    color: var(--glow);
}