:root {
    --gray2: #1E1E1E;
    --accents: #00B2FF;
    --background: #404040;
    --glow: #24FF00;
    --accentFilter: invert(67%) sepia(75%) saturate(5454%) hue-rotate(171deg) brightness(107%) contrast(103%);
    --teamTxt: 40px;
    --focusTxt: 20px;
    --btnTxt: 25px;
}

.sectionProduct {
    position: relative;
    height: min-content;
    width: 90%;
    left: 5%;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 2px solid #00000000;
    color: white;
    transition: all .2s ease-in-out;
}

.sectionProduct-image1 {
    position: relative;
    height: 30px;
    margin-left: 2%;
    filter: var(--accentFilter);
    /* border: 2px solid red; */
}

.sectionProduct-image2 {
    position: relative;
    height: 30px;
    /* top: 10%; */
    margin-right: 2%;
    filter: var(--accentFilter);
    /* border: 2px solid red; */
}

.sectionProduct-name {
    position: relative;
    /* color: white; */
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 15px;
    margin-left: 2%;
    overflow: hidden;
    /* border: 2px solid red; */

}

.sectionProduct:hover {
    box-shadow: 0px 0px 5px 1px var(--glow);
    color: var(--glow);
    /* border: 2px solid var(--glow); */
}

.sectionProduct-mask {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;

}