:root {
    --gray2: #1E1E1E;
    --accents: #00B2FF;
    --background: #404040;
    --glow: #24FF00;
    --accentFilter: invert(67%) sepia(75%) saturate(5454%) hue-rotate(171deg) brightness(107%) contrast(103%);
    --teamTxt: 40px;
    --focusTxt: 20px;
    --btnTxt: 25px;
}


.sectionContainer {
    position: relative;
    height: min-content;
    padding-bottom: 2.5%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}

.sectionContainer-header {
    position: relative;
    height: min-content;
    width: 90%;
    left: 5%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--accents);
}

.sectionContainer-header-text {
    position: relative;
    width: 90%;
    font-size: var(--btnTxt);
    /* border: 2px solid red; */
}

.sectionContainer-header-arrow2 {
    position: absolute;
    left: 84.5%;
    filter: blur(2px);
    opacity: 50%;
    transform: translateY(-4px);
    animation: arrow-bob 2s linear infinite;
}

@keyframes arrow-bob {
    0% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(-2px);
    }
}

.sectionContainer-edit {
    position: relative;
    width: 92%;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #00000000;
    margin-top: 4%;
    height: 40px;
    left: 5%;
    background-color: black;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.sectionContainer-edit:hover {
    color: var(--glow);
    box-shadow: 0px 0px 5px 1px var(--glow);
}