:root {
    --gray2: #1E1E1E;
    --accents: #00B2FF;
    --background: #404040;
    --glow: #24FF00;
    --accentFilter: invert(67%) sepia(75%) saturate(5454%) hue-rotate(171deg) brightness(107%) contrast(103%);
    --teamTxt: 40px;
    --focusTxt: 20px;
    --btnTxt: 25px;
}

.main {
    position: relative;
    height: calc(100% - 7.4%);
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    gap: 0%;
    /* border: 2px solid red; */
}

.header {
    background-color: var(--gray2);
}

.header-section-button {
    background-color: black;
}

.sidemenu {
    position: relative;
    width: 20%;
    height: 100%;
    background-color: var(--gray2);
    overflow-x: hidden;
    overflow-y: auto;
}

.content {
    position: relative;
    height: 100%;
    width: 80%;
    overflow-x: hidden;
    overflow-y: hidden;
    /* border: 2px solid red; */
}

.content-product {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    /* border: 2px solid blue; */
}

.content-product-header {
    position: relative;
    width: 98%;
    margin-left: 1%;
    text-indent: 1%;
    color: white;
    border-bottom: 2px solid var(--accents);
}

.content-product-description {
    position: relative;
    width: 98%;
    margin-left: 1%;
    color: white;
    /* border: 2px solid green; */
}

.content-product-file {
    position: relative;
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
    background-color: var(--gray2);
    /* height: 75%; */
    max-height: 75%;
    overflow: auto;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* box-shadow: 0px 0px 7px 0px var(--glow); */
    border-radius: 10px;
    /* border: 2px solid green; */
}

.content-product-file-objectViewer {
    position: relative;
    border: none;
    overflow: visible;
    /* border: 1px solid red; */
}

.content-product-comment {
    position: relative;
    width: 97%;
    min-height: 4%;
    height: min-content;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    background-color: var(--gray2);
    /* display: flex;
    flex-direction: row; */
    overflow: hidden;
    padding-bottom: 0%;
    padding-top: 0%;
    padding-left: .5%;
    /* padding: .5%; */
    /* border: 2px solid green; */
}

.content-product-comment-text {
    position: relative;
    width: 95%;
    min-height: 2vh;
    /* height: min-content; */
    font-size: 17px;
    color: white;
    cursor: text;
    background-color: #00000000;
    border: none;
    resize: none;
    padding: 0;
    align-content: center;
    /* border: 2px solid green; */
}

.content-product-comment-send-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    /* border: 2px solid red; */
}

.content-product-comment-send {
    position: absolute;
    height: 25px;
    padding-right: 1%;
    padding-bottom: calc((25px * .375));
    filter: var(--accentFilter);
    cursor: pointer;
    /* border: 2px solid green; */
    /* display: none; */
}

.content-product-comments {
    position: relative;
    width: 97%;
    left: 1%;
    height: min-content;
    margin-bottom: 2%;
    /* border: 2px solid red; */
}

.content-product-edit-container {
    position: relative;
    width: 100%;
    height: 5%;
    top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    /* border: 2px solid red; */
}

.content-product-edit {
    position: relative;
    width: 30%;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #00000000;
    height: 100%;
    background-color: black;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.content-product-edit:hover {
    color: var(--glow);
    box-shadow: 0px 0px 5px 1px var(--glow);
}

@media screen and (max-width: 1000px) {
    .sidemenu {
        width: 25%;
    }
}

.create-container {
    position: absolute;
    height: 100%;
    width: 76%;
    left: 24%;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.create-section {
    position: relative;
    height: min-content;
    padding-bottom: 1%;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: var(--gray2);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px var(--glow);
    display: none;
}

.create-section-header {
    position: relative;
    width: 100%;
    text-align: center;
    height: min-content;
    color: white;
}

.create-section-form {
    position: relative;
    width: 95%;
    left: 2.5%;
    /* border: 2px solid red; */
}

.create-section-form-button {
    position: relative;
    width: 60%;
    height: 40px;
    margin-top: 3%;
    left: 20%;
    background-color: black;
    box-shadow: 0px 5px 5px var(--accents);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 2px solid #00000000;
}

.create-section-form-button:hover {
    color: var(--glow);
    box-shadow: 0px 5px 5px var(--glow);
}


.create-section-form-cancel:hover {
    color: var(--glow);
}

.create-product {
    position: relative;
    height: min-content;
    padding-bottom: 1%;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: var(--gray2);
    border-radius: 10px;
    /* border: 2px solid var(--glow); */
    box-shadow: 0px 0px 5px 0px var(--glow);
    display: none;
}

.create-product-header {
    position: relative;
    width: 100%;
    text-align: center;
    height: min-content;
    color: white;
}

.create-product-form {
    position: relative;
    width: 95%;
    left: 2.5%;
    /* border: 2px solid red; */
}

.create-product-form-button {
    position: relative;
    width: 60%;
    height: 40px;
    margin-top: 3%;
    left: 20%;
    background-color: black;
    box-shadow: 0px 5px 5px var(--accents);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 2px solid #00000000;
}

.create-product-form-button:hover {
    color: var(--glow);
    box-shadow: 0px 5px 5px var(--glow);
}

.form-cancel {
    position: relative;
    width: 100%;
    height: min-content;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.form-delete {
    position: relative;
    width: 100%;
    height: min-content;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.form-cancel-text {
    position: relative;
    width: min-content;
    color: var(--accents);
    font-size: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.form-delete-text {
    position: relative;
    width: min-content;
    color: red;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.form-cancel-text:hover {
    color: var(--glow);
}